main {
    background-color: #e4f0f8;
    height: 100%;
}

h1, h2 {
    text-align: center;
}
h1 {
    color: darkslategray;
}

h2 {
    color: lightgray;
    font-style: italic;
}

form {
    background-color: white;
    width: 50%;
    height: 50%; 
    margin-left: 375px;
    margin-top: 175px;
    display: inline-block;
    box-shadow: 3px 3px 3px 3px lightgray;
}

.container {
    position: relative;
}

.link {
    position: absolute;
    top: 0;
    right: 100;
    font-size: 1em;
}

input[type="text"],
input[type="password"] {
    background-color: white;
    border: 1px solid lightgray;
    font-size: 1.5em;
    width: 75%;
    display: block;
    margin: auto;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgray;
    font-family: serif;
    padding: 10px;
}

button {
    background-color: #3398da;
    color: white;
    font-size: 1.5em;
    size: 40px;
    display: block;
    text-align: center;
    margin: auto;
    border: 0;
    outline: 0;
    padding: 15px;
    width: 75%;
}

.button {
    padding-top: 10px;
}

a {
    color: lightgray;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 1.5em;
}


