<html>
    <head><title>Pet Search</title></head>
    <body>
        Hello

        <form action="/pets" method="get">
            name: <input type="text" name="name">
            age: <input type="text" anme ="age">
        <button type="submit">submit</button>
        </form>
    </body>
</html>