<html>
    <head>
        <title>Pet Search</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>You are looking for a pet</h1>
        {{#each pets}}
        <div>
            <span>name: <span class="pet-name">{{name}}</span></span>
            <span>age: {{age}}</span>
            <span>favorite toy: {{fav_toy}}</span>
        </div>
        {{/each}}
    </body>
</html>